@font-face
	font-family 'Sf-pro-display'
	font-style normal
	font-weight 400
	src url('./../../assets/fonts/sf-pro-display_regular.woff2') format('woff2')


@font-face
	font-family 'Sf-pro-display'
	font-style normal
	font-weight 600
	src url('./../../assets/fonts/sf-pro-display_semibold.woff2') format('woff2')
